
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.result {
    text-align: center;
    font-size: 3rem;
    display: block;
}

html, body {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.panel {
    width: 50%;
}

.form-group:last-child {
    margin-bottom: 0;
}

.panel:last-child {
    margin-bottom: 0;
}
