// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-weight: 200;
}

.result {
    text-align: center;
    font-size: 3rem;
    display: block;
}

html, body {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

label {
    font-weight: 600;
}

.panel {
    width: 50%;
}

.form-group:last-child {
    margin-bottom: 0;
}

.panel:last-child {
    margin-bottom: 0;
}
